.modal.hide.fade
    .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
        h3 Modal header
      .modal-body
        p One fine body…
      .modal-footer
        a.btn(href='#') Close
        a.btn.btn-primary(href='#') Save changes