extends layout

block content
  .container
    .row.show-grid
        ul.nav.nav-tabs
          li.active
            a(href='#gameLaunch', data-toggle='tab') Game Launch
          li
            a(href='#lobbyLaunch', data-toggle='tab') Lobby Launch
        .tab-content
          #gameLaunch.tab-pane.active
            //
               Game Launch Start 
            label.control-label Host
            input#host.span3(type='text')
            br
            select#game(name='games')
              optgroup(label='Slots')
                option#avalon(value='avalon,10044,40300') Avalon
                option#agentJaneBlonde(value='agentJaneBlonde,10025,40306') Agent Jane Blonde
                option#burningDesire(value='burningDesire,11016,40300') Burning Desire
                option#deckTheHalls(value='deckTheHalls,11020,40300') Deck The Halls
                option#ladiesNite(value='ladiesNite,10025,40300') Ladies Nite
                option#mermaidMillions(value='mermaidsMillions,12506,40300') Mermaid Millions
                option#springBreak(value='springBreak,10025,40300') Spring Break
                option#tallyHo(value='tallyho,10038,40300') Tally Ho
                option#thunderstruck(value='thunderstruck,10025,40300') Thunderstruck
                option#tombRaider(value='tombRaider,12506,40300') Tomb Raider
              optgroup(label='Progressives')
                option#cashSplash(value='cashSplash,15004,40300') Cash Splash
                option#majorMillions(value='majorMillions,15005,40300') Major Millions
                option#megahMoolah(value='megaMoolah,17501,40300') Mega Moolah
                option#treasureNile(value='treasureNile,15001,40300') Treasure Nile
              optgroup(label='Black Jack')
                option#europeanBlackjackGold(value='europeanBlackjackGold,134,40300') European BlackJack Gold
              optgroup(label='Roulette')
                option#europeanRoulette(value='europeanRoulette,2,40300') European Roulette
              optgroup(label='Video Pokers')
                option#jacksOrBetter(value='jacksOrBetter,6,40300') Jacks Or Better
            br
            br
            //
               Inner collapse 
            #accordion2.accordion
              .accordion-group
                .accordion-heading
                  a.accordion-toggle(data-toggle='collapse', data-parent='#accordion2', href='#innerCollapse')
                    | Advance Settings
                #innerCollapse.accordion-body.collapse
                  .accordion-inner
                    //
                     Extra inputs to build the URL 
                    label.control-label User Name
                    input#userName.span3(type='text', value='')
                    label.control-label Password
                    input#password.span3(type='text', value='')
                    label.control-label Top Bar
                    .btn-group(data-toggle='buttons-radio')
                      button#enableTopBar.btn.btn-primary(type='button') Enable
                      button#disableTopBar.btn.btn-primary.active(type='button') Disable
                    br
                    //
                       Languages 
                    select#languages(name='languages')
                      option#en(value='en') English
                      option#da(value='da') Danish
                      option#de(value='de') German
                      option#es(value='es') Spanish
                      option#nl(value='nl') Dutch
                      option#ru(value='ru') Russian
                      option#sv(value='sv') Swedish
                    //
                       resolutions 
                    select#resolution(name='resolutions')
                      option(value='default', selected='selected') Default
                      option(value='1024x768') 1024x768
                      option(value='960x640') 960x480
                      option(value='480x320') 480x320

            //
               End game Launch Advance Settings collapse 
            button#gameLaunchButton.btn.btn-primary(type='button') Launch Game
          //
             End Game Launch Tab 
          //
             Lobby Launch Tab 
          #lobbyLaunch.tab-pane
            label.control-label Host
            input#lobbyHost.span3(type='text')
            br
            select#lobbyName(name='lobbies')
              optgroup(label='Casino') 
                option(value='mgspoker') MGS Poker
                option(value='bets10poker') Bets10 Poker
                option(value='betsafepoker') BetSafe Poker
                option(value='ladbrokespoker') Ladbrokes Poker
                option(value='unibetpoker') Unibet
                option(value='32Red') 32Red
                option(value='nordicbetpoker') Nordicbet
                option(value='pokertemplate') Poker
                option(value='template') Default
                option(value='AllSlots') AllSlots
                option(value='Betway') Betway
                option(value='CasinoAction') CasinoAction
                option(value='CrazyVegas') CrazyVegas
                option(value='EuroPalace') EuroPalace
                option(value='GamingClub') GamingClub
                option(value='GoldenRiviera') GoldenRiviera
                option(value='Goldfishka') Goldfishka
                option(value='JackpotCity') JackpotCity
                option(value='OnCashCasino') OnCashCasino
                option(value='PlatinumPlay') PlatinumPlay
                option(value='RedFlush') RedFlush
                option(value='RoyalVegas') RoyalVegas
                option(value='RoxyPalace') RoxyPalace
                option(value='RubyFortune') RubyFortune
                option(value='SpinPalace') SpinPalace
                option(value='Lucky247') Lucky247
                option(value='mgs') mgs
                option(value='mgsmc') mgsmc
              optgroup(label='Bingo')
                option(value='MGSBingo') MGSBingo
                option(value='BingoTemplate') BingoTemplate
                option(value='MGSBingo') MGSBingo
                option(value='BingoOnTheBox') BingoOnTheBox
                option(value='DreamBingo') DreamBingo
              optgroup(label='Poker')
                option(value='MGSPoker') MGSPoker
                option(value='pokertemplate') Poker
                option(value='mgspoker') MGS Poker
                option(value='bets10poker') Bets10 Poker
                option(value='betsafepoker') BetSafe Poker
                option(value='ladbrokespoker') Ladbrokes Poker
                option(value='unibetpoker') Unibet
                option(value='nordicbetpoker') Nordicbet
            br
            //
               Languages 
            select#lobbyLanguages(name='lobbyLanguages')
              option#en(value='en') English
              option#da(value='da') Danish
              option#de(value='de') German
              option#es(value='es') Spanish
              option#nl(value='nl') Dutch
              option#ru(value='ru') Russian
              option#sv(value='sv') Swedish
            br
            br
            button#lobbyLaunchButton.btn.btn-primary(type='button') Launch Lobby
          //
             End Lobby Launch Tab
      //
         /container 
        script(src='/scripts/game-launch/gameLaunch.js')