extends layout

block content
    - if (games.length)
        table.zebra-striped
            thead
                tr
                    th Game Name
                    th Image
                    th Live
                    th DeviceNo
            tbody
            each game in games
                tr
                    td= game.title
                    td 
                        img(src=game.image)
                    td= game.live
                    each device in game.device
                        td= device.deviceNo
    - else
        p No registered members yet.
    
    form(action='/game-post', method='post', id='homeForm')
        input(name='myInput', type='text')
        input(type='submit', value='Submit') 

    button.btn.btn-primary(type='button', data-toggle='modal', data-target='#myModal') Add Game
    #myModal.modal.hide.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
        h3#myModalLabel Add Game
      .modal-body
        
      .modal-footer
        button.btn(data-dismiss='modal', aria-hidden='true') Close
        button.btn.btn-primary Save changes