div.navbar.navbar-inverse.navbar-fixed-top
    div.navbar-inner
        div.container
            a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.brand(href="/")
                | Apps
            div.nav-collapse.collapse
                ul.nav
                    li
                        a(href="/launch")
                            | Game & Lobby Launcher
                    li
                        a(href="/paylines")
                            | Payline Generator
                    li
                        a(href="/game-comp")
                            | Game Compatibility
                    li
                        a(href="/lobby")
                            | Lobby Order
                    
