!!!
html
	head
		block head
			title= title
			link(rel='stylesheet', href='/css/bootstrap.min.css')
			link(rel='stylesheet', href='/css/font-awesome.min.css')
			link(rel='stylesheet', href='/css/lobby.css')
			link(rel='stylesheet', href='/css/device-mockups2.css')
			| <style>
			| body { padding-top: 45px; }
			| </style>
			link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
			link(rel='stylesheet', href='/css/style.css')
			script(src='/scripts/vendor/jquery-1.9.0.min.js')
			script(src='/scripts/vendor/bootstrap.min.js')
			script(src='/scripts/vendor/bootstrap-collapse.js')
			script(src='/scripts/vendor/bootstrap-transition.js')
			script(src='/scripts/vendor/fileUpload.js')
			script(src='/scripts/vendor/TweenMax.min.js')

	body
		include header

		block content

		include footer