extends layout

block content
    .container
        nav
            span#device-tabs
                a(data-value='iphone5', data-size-port='300px', data-size-land='600px') iPhone5
                a.active(data-value='ipad', data-size-port='600px', data-size-land='800px') iPad
                | |
            span#orientation-tabs
                a(data-value='portrait') Portrait
                a.active(data-value='landscape') Landscape
                | |
            span#color-tabs
                a.active(data-value='black') Color1
                a(data-value='white') Color2
        #columns
            - if (gameOrder.length)
                .device-container(style='max-width: 800px;', data-size-port='600px', data-size-land='800px')
                    .device-mockup(data-device='ipad', data-orientation='landscape', data-color='black')
                        .device
                            .screen.scrollable
                                each game in gameOrder
                                    .column(draggable='true')(id=game.imageName+','+game.mid+','+game.cid)
                                        img(src='images/'+game.imageName+'.png')
                                        // 
                                            p= game.gameName
                .button
                    //
                        You can hook the "home button" to some JavaScript events or just remove it 
            - else
                p No Games Added for this Lobby.
 
    script(src='/scripts/lobby/lobby.js')