extends layout

block content
    script(src='/scripts/payline/MobileWebAutomationsUtils.js')
    script(src='/scripts/payline/config.js')
    link(rel='stylesheet', href='/css/PaylineGenerator.css')
    script(src='/scripts/payline/CalculatePointsOnSymbol.js')
    script(src='/scripts/payline/PaylineGeneratorUtils.js')
    .headerText
      h1 Welcome!
      p This is the payline Generator Page.
    .container-fluid
      div
        #sideBar
          //
            Sidebar content
          #bodybtn
            #fromSelection
              form#view.form-inline
                input.input-mini(type='number', placeholder='Rows', min='1', required='required')
                input.input-mini(type='number', placeholder='Columns', min='1', required='required')
                button.btn(type='submit') Create Visible Area
          #ResCheck
          #fromXml
            input#chooseFile(type='file', name='files[]', single='single')
            button#fileSubmit.btn(type='button') Create Paylines
        #bodyContent
          //
            Body content
          #VisArea
            canvas#paylineCanvas
            button#resetBtn(type='button') Reset Canvas!
            button#calpayline(type='button') Create Payline!
          #display
            button#ClearTxt(type='button') Clear Text Area
    script(src='/scripts/payline/SetDisplayArea.js')
    script(src='/scripts/payline/UIView.js')
    script(src='/scripts/payline/SetupCheckBoxs.js')
    script(src='/scripts/payline/FileSelector.js')