/* Prevent the text contents of draggable elements from being selectable. */
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

.scrollable {
  overflow: scroll !important;
}

.column {
  position: relative;
  width: 24%;
  margin-bottom: 20px;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  color: #FFF;
  border: 1px solid transparent;
  padding-top: 25px;

}

nav {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 30px;
}

nav a {
  padding: 0 10px;
  height:                24px;
  line-height:           24px;
  border-radius:         24px;
  -webkit-border-radius: 24px;
  -moz-border-radius:    24px;
  display: inline-block;
  font-family: sans-serif;
  background-color: #ccc;
}

nav a.active, nav a:hover {
  color: #e2e2e2;
  background-color: #333;
  cursor: pointer;
  cursor: inherit;
}