﻿body
{
    background-color: ghostwhite;
}

.headerText,
.footerText,
#results h1
{
    font-family: 'Revalia', cursive;
    text-align: center;
    -webkit-text-shadow: 1px 1px gray;
    text-shadow: 1px 1px gray;
}

#Header
{
    margin: auto;
    width: 70%;
    height: 15%;
}

#Foot
{
    margin: auto;
    width: 70%;
    height: 5%;
}
#sideBar
{
    float: left;
    border: 1px solid #e3e3e3;
}

#bodyContent
{
    float: right;
 border: 1px solid #e3e3e3;
}

#VisArea
{
    
    margin: auto;
    background-color: grey;
    border: 1px solid black;
}

#paylineCanvas
{
    position: absolute;
    pointer-events: none;
}

.box
{
    background-color: rgb(26,86,2);
    opacity: 0.5;
}

.box1
{
    background-color: rgb(33,108,3);
    opacity: 0.5;
}

#VisArea div:hover
{
    opacity: 0.8;
}

.reelDiv
{
    background-color: red;
}

.radioPoint
{
    position: absolute;
    width: 1px;
    height: 1px;
    border: 1px solid;
    opacity: 0;
}

.txtbox
{
    float: left;
}

#display label {
        top: 26px;
position: relative;
}

#ClearTxt {
    position : absolute;
    width : 130px;
}
#bodybtn
{
    margin: auto;
    position: relative;
}

#resetBtn,
#calpayline
{
    position: relative;
}

#display
{
    position: absolute;
}

.holder
{
    
    margin: auto;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
}